/wheels/errator-0.3.3-cp36-cp36m-manylinux1_x86_64.whl
/wheels/errator-0.3.3-cp36-cp36m-manylinux2010_x86_64.whl
/wheels/errator-0.3.3-cp37-cp37m-manylinux1_x86_64.whl
/wheels/errator-0.3.3-cp37-cp37m-manylinux2010_x86_64.whl
/wheels/errator-0.3.3-cp39-cp39-manylinux1_x86_64.whl
/wheels/errator-0.3.3-cp39-cp39-manylinux2010_x86_64.whl
/build/
/wheels/errator-0.3.3-cp38-cp38-manylinux1_x86_64.whl
/_errator.cpython-38-x86_64-linux-gnu.so
/_errator.c
/wheels/
